# =========================
# Зависимости (Dependencies)
# =========================
node_modules/

# =========================
# Environment Variables
# =========================
.env

# =========================
# База данни
# =========================
*.db
*.sqlite

# =========================
# Лог файлове
# =========================
*.log
npm-debug.log*

# =========================
# Системни файлове и Редактори
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/