# =========================
# Зависимости (Dependencies)
# =========================
node_modules/

# =========================
# Environment Variables
# =========================
.env

# =========================
# База данни (SQLite for example)
# =========================
*.db
*.sqlite

# =========================
# Системни файлове
# =========================
.DS_Store
Thumbs.db
